@import url('https://fonts.googleapis.com/css?family=Candal&display=swap');

.imgLogo{
    border-radius: 50%;
    border: 3px solid;
    border-color: rgba(0, 0, 0, 0.8);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 210px;
    height: 210px;
    box-shadow: 2px 4px;
}
.text{
    font-family: 'Candal', sans-serif;
    color: rgba(0, 0, 0, 0.6);
    padding: 3px;
    text-align: center;
}
.text-large{
    font-size: 60px;
    text-align: center;
}
.container{
    border: 3px solid;
    border-color: rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    width: 600px;
    height: 300px;
    margin: auto;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.15);
    text-align: center;
    box-shadow: 1px 1px;
}
.name-input{
    border: 2px solid;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.6);
    width: 200px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.10);
}
.in{
    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.10);
    transform: scale(1.5);
}
.play-buttom{
    border: 3px solid;
    border-color: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.10);
    width: 100px;
    height: 40px;
}
.play-buttom:hover{
    background-color: rgba(0, 0, 0, 0.01);
}
.text-small{
    font-size: 10px;
    padding-bottom: 3px;
}
